@import "./breakpoint.scss";

.Container {
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;

  &-lg {
    max-width: 1440px;
  }

  &-sm {
    max-width: 900px;
  }

  @include phablet() {
    padding-left: 20px;
    padding-right: 20px;
  }

}