html {
  font-size: 10px !important;
}

img {
  width: 100%;
  height: 100%;
}

@import "./breakpoint.scss";
@import "./typography.scss";
@import "./blog.scss";

body {
  margin: 0px;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

// styled by m
.navbar {
  width: 100%;
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  align-items: center;
  background-color: #ffffff;
  justify-content: space-around;

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    li {
      padding: 0 17px;
      cursor: pointer;
      list-style-type: none;

      button {
        outline: none;
        cursor: pointer;
        padding: 10px 34px;
        border-radius: 50px;
        background: $orange;
        border-color: transparent;
      }
    }

    li:nth-child(1) {
      color: $orange;
    }
  }
}

.topbody {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(#0082e0, 0.5);
  background-image: url("../assets/images/hero-image.jpg");
  background-blend-mode: saturation;
  div {
    height: 591px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    .hero-left {
      margin: 15px;
      display: flex;
      flex-basis: 40%;
      color: #ffffff;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      h1 {
        font-weight: bold;
      }

      button {
        width: 200px;
        height: 45px;
        outline: none;
        color: #ffffff;
        border-radius: 20px;
        border-color: transparent;
        background-color: $orange;
      }
    }

    .hero-right {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
    }
  }
}

.about {
  margin: 0;
  padding: 0;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../assets/images/about.png");

  p {
    width: 898px;
    color: #267ebe;
    margin: 100px auto 100px auto;
  }
}

.mainbody {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .twocard {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    div {
      display: flex;
      max-width: 400px;
      max-height: 500px;
      align-self: center;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      p {
        color: #2d8fd7;
        text-align: center;
        font-size: 16px !important;
      }

      .cardtitle {
        display: flex;
        flex-direction: row;
        align-items: center;
        h1 {
          margin-bottom: 10px;
          color: #2d8fd7;
          margin-right: 10px;
        }
      }
    }
  }

  .orangequote {
    width: 100%;
  }

  .arrows {
    display: flex;
    margin-left: 20px;
    flex-direction: column;

    div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      .orange {
        color: $orange;
      }
    }
  }

  .images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    img {
      margin: 12px;
      width: 270px;
      height: 270px;
    }
  }
}

.contactform {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-flow: column wrap;

  .title {
    color: #2d8fd7;
    align-self: center;
    font-family: Roboto;
    font-weight: bold;
  }

  .description {
    display: flex;
    align-self: center;
    flex-flow: row wrap;
    :nth-child(2) {
      color: $orange;
      text-decoration: underline;
    }
  }

  .mainform {
    max-width: 897px;
    padding: 50px;
    margin: 50px;
    display: flex;
    align-self: center;
    flex-flow: column wrap;
    border: lightgray solid 1px;

    .input {
      margin: 10px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      .label {
        width: 180px;
      }

      input {
        height: 30px;
        display: flex;
        flex-grow: 1;
        min-width: 250px;
        margin: 0 10px 0 10px;
        padding: 5px;
      }

      textarea {
        height: 140px;
        display: flex;
        flex-grow: 1;
        min-width: 250px;
        margin: 0 10px 0 10px;
        padding: 10px;
      }

      button {
        display: flex;
        align-self: flex-start;
        width: 180px;
        height: 30px;
        text-align: center;
        border-radius: 20px;
        background-color: $orange;
      }
    }

    .button {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
}

.companies {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-flow: column wrap;

  .col {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-self: flex-start;
    justify-content: flex-start;
  }

  .column2 {
    margin-bottom: 30px;
    button {
      width: 130px;
      padding: 8px 10px;
      color: #ffffff;
      outline: none;
      margin: 0px 10px;
      border-color: transparent;
    }
    :nth-child(1) {
      background-color: #3b7ded;
    }
    :nth-child(2) {
      background-color: #4868ad;
    }
    :nth-child(3) {
      background-color: #48a1ec;
    }
    :nth-child(4) {
      background-color: #ff0000;
    }
  }

  .column3 {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 30px;
    .subcol {
      display: flex;
      flex-flow: column wrap;
      button {
        width: 130px;
        padding: 8px 10px;
        color: #ffffff;
        outline: none;
        margin: 0px 10px;
        margin-top: 10px;
        border-color: transparent;
      }
    }

    .subcol1 {
      :nth-child(2) {
        background-color: #48a1ec;
      }
    }

    .subcol2 {
      :nth-child(2) {
        background-color: #ef9b39;
      }
    }

    .subcol3 {
      :nth-child(2) {
        background-color: #d93932;
      }
    }
  }

  .column4 {
    .subcol {
      div {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        p {
          margin-left: 20px;
        }
      }

      button {
        width: 250px;
        padding: 8px 10px;
        color: #ffffff;
        outline: none;
        margin: 0px 10px;
        border-color: transparent;
      }
    }

    .subcol1 {
      button {
        background-color: $orange;
      }
    }

    .subcol2 {
      button {
        background-color: black;
      }
    }
  }

  .column5 {
    .subcol {
      div {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        p {
          margin-left: 20px;
        }
      }

      button {
        width: 250px;
        padding: 8px 10px;
        color: #ffffff;
        outline: none;
        margin: 0px 10px;
        border-color: transparent;
      }
    }

    .subcol1 {
      button {
        background-color: #48a1ec;
      }
    }

    .subcol2 {
      h1 {
        height: 5px;
      }
      button {
        background-color: #4868ad;
      }
    }
  }
}

.sliderarea {
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  h3 {
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: #2d8fd7;
  }

  p {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
  }

  .slider {
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    .card {
      width: 300px;
      height: 150px;
      margin: 10px;
      background-color: red;
    }
  }

  button {
    width: 180px;
    padding: 10px 15px;
    border-radius: 20px;
    text-align: center;
    outline: none;
    cursor: pointer;
    border-color: transparent;
    background-color: $orange;
  }
}

// styled by m

footer {
  background-color: $gray-900;
  height: 100px;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    display: flex;
    padding: 0px;
    list-style-type: none;
    li {
      padding: 0px 20px 0 0;
      a {
        color: $dark-blue;
        text-decoration: none;
        font-style: normal;
        font-weight: bold;
      }
    }
  }
  p {
    color: white;
    font-weight: normal;
    font-size: 16px;
  }
}

.small-container {
  margin: 0 auto;
  max-width: 896px;
}

.quotes {
  height: 51px;
  display: flex;
  align-items: center;
  padding-left: 31px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  border-left-width: 8px;
  border-left-style: solid;
  background-color: $gray-500;
  margin: 103px auto 32px auto;
  &.orange {
    border-left-color: $orange;
    color: $orange;
  }
  &.blue {
    border-left-color: #2d8fd7;
    color: #2d8fd7;
  }
}
